.dino{
    position: absolute;
    width: 60px;
    height: 60px;
    background-image: url(t-rex.png);
    bottom: 0px;
}

.obstacle {
    position: absolute;
    width: 60px;
    height: 60px;
    background-image: url(cacti.png);
    bottom: 0px;
  }

  #GameOver{
      position: fixed;
      top: 30%;
      left: 45%;
      color: grey;
      text-align:center;
      font-family: "Lucida Console", Courier, monospace;
  }

  #header{
    position: fixed;
    top: 20%;
    left: 37%;
    color: grey;
    font-family: "Lucida Console", Courier, monospace;
  }

  #img{
    position: fixed;
    top: 17%;
    left: 53%;
  }

  @keyframes slideright {
    from {
        background-position: 70000%;
    }
    to {
        background-position: 0%;
    }
  }
  
  @-webkit-keyframes slideright {
    from {
        background-position: 70000%;
    }
    to {
        background-position: 0%;
    }
  }

  #desert {
    position: absolute;
    bottom: 0px;
    background-image: url('t-rex-background.png');
    background-repeat: repeat-x;
    animation: slideright 800s infinite linear;
    -webkit-animation: slideright 800s infinite linear;
    width: 100%;
    height: 200px;
  }